/* Created by: Isaaq Simon
* Created on: Apr 2025
* This file contains the CSS for index.html
*/
body {
    font-family: Arial, sans-serif;
    margin: 40px;
}

label,
input {
    display: block;
    margin: 10px 0;
}

button {
    margin-top: 10px;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

body{
background-color: rgb(20, 50, 220);
}

h1 {
    background-color: rgb(16, 192, 236);
    color: hsl(0, 63%, 32%);
    padding: 40px;
    text-align: center;
}

p {
  background-color: #ff00aa;
}